.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .wrapper button {
      padding: 10px 20px;
      background: rgb(192, 156, 239);
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      border-radius: 8px; 

  }
  
  .accordian {
    width: 500px;
  }
  
  .item {
    background: rgb(192, 156, 239);
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 8px; 

  }
  
  .title {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
  }
  
  .content {
    color: #ffffff;
    height: auto;
  }