
.header-titel {
    width: 100%;
    padding: 20px 0;
    background-color: white;
    text-align: center;
    border-bottom: 2px solid #ccc;  /* קו תחתון להפרדה */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* הצללה מתחת לכותרת */
  }

  .header-titel h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }

.load-more-container {
    display:  flex;
    flex-direction: column;
    gap: 20px;

}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product{
    padding: 20px;
    /* border: 3px groove rgb(137, 137, 134); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border-radius: 20px;
    background-color: #d5d8d99b; */
}

.product h3{
    color: rgb(78, 25, 25);
}



.product img{
    width: 200px;
    height: 200px;
}

.buttons{
    display: flex;
    gap: 20px;
   padding: 5px;
   justify-content: center;
   
}

.button-add{
    border: none;
    border-radius: 3px;
    background-color: rgb(133, 135, 135);
    cursor: pointer
   
    
}

.button-remove{
    border: none;
    border-radius: 3px;
    background-color: rgb(133, 135, 135);
    cursor: pointer
}

.add-to-bag-button{
    border: none;
    border-radius: 3px;
    background-color: rgb(133, 135, 135);
    cursor: pointer
}

.button-container{
    border: none;
    border-radius: 3px;
    background-color: rgb(133, 135, 135);
    height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer
}

.count-quntity{
    font-size:larger;
    font-weight: bold;
}

.prices{
    font-size: medium;
    font-weight: bold;
    color: rgb(64, 61, 58);

}

