.wrapper{
    display: flex;
}

.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.tabs-item{
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: white;
    background: rgb(61, 16, 60);
}

.tabs-item.active{
    border-color: black;
    background: rgb(209, 211, 111);
    color: white;
}

.content{
    padding: 10px 15px;
    height: 300px;
    overflow: auto;
    background-color: white;
}