.tree-view-container {
  background-color: rgb(0, 71, 110);
  min-height: 100vh;
  width: 350px;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  color: white;
}

.menu-list-container {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}
