.root {
  --background: white;
  --text-primary: black;
  --button-bg: black;
  --button-text: white;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --button-bg: white;
  --button-text: black;
}

.light-dark-mode {
  background-color: var(--background);
  height: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  transition: all 0.5s;
}

.light-dark-mode .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.light-dark-mode .container h1 {
  color: var(--button-bg);
  font-size: 40px;
  margin: 0px;
}

.light-dark-mode .container button {
  background-color: var(--button-bg);
  border: 1px solid var(--button-bg);
  color: var(--button-text);
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
